body {
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

#header ,#footer {
    width: 100%;
    padding: 3px;
    color: #fff;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(#5a77ff, #743cd1);
}

p {
    margin: 15px;
}

i {
    margin-top: 15px;
    margin-left: 15px;
}

span {
    display: flex;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    text-decoration: underline;
}

#img_container {
    border: 0px;
    display: flex;
    height: 530px;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(326780-P9JGF8-718.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#img_container .info {
    top: 15px;
    right: 25px;
    width: 400px;
    height: 450px;
    color: black;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Courier New', Courier, monospace;
}

#moveleft{
    background: url("FB_IMG_15587821935538283.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    transition: transform 1s linear 0s;
}
#img_container:hover #moveleft{
    transform: translateX(-405px);
}
#top{
    height: 70px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(#5a77ff, #743cd1);    
}
#top h2{
    left: 0;
    right: 0;
    bottom: 0;
    top: 20px;
    margin: auto;
    color: white;
    position: absolute;
}

#bottom{
    height: 360px;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#bottom img {
    float: left;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}
#bottom h1 {
    padding: 0;
    margin-bottom: 0;
    margin-left: 21px;
    display: inline-block;
    color: rgb(12, 12, 12);
}
#bottom h1 strong{
    color: #610fe6fd;
}
#bottom h4 {
    color: gray;
    display: block;
    font-size: 13px;
    margin-left: 123px;
}
#age , #phone , #email, #address{
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
}
#age1{
    font-size: 15px;
    margin-left: 50px;
    display: inline-block;
}
#phone1{
    font-size: 15px;
    margin-left: 30px;
    display: inline-block;
}
#email1{
    font-size: 15px;
    margin-left: 36px;
    display: inline-block;
}
#address1{
    font-size: 15px;
    margin-left: 15px;
    display: inline-block;
}

.container {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    width: calc(100% - 20px);
    background-color: #efefef;
}
#skillContainer{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#skills,#edu{
    color: #610fe6fd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#skillsBox,#EduBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    flex-direction: row;
    justify-content: center;
}

#Pskill{
    margin: 10px;
    width: 350px;
    height: 330px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
#ProSkills{
    margin: auto;
    width: 250px;
    height: 50px;
    color: white;
    display: block;
    margin-top: -20px;
    text-align: center;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(#5a77ff, #743cd1);
}
#ProSkills strong{
    margin-top: 16px;
    display: inline-block;
}
#skillnames{
    display: flex;
    height: 280px;
    margin-top: 20px;
    flex-direction: column;
}
.bar{
    margin: 10px;
}
.bar .topBar{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.bar .topBar p{
    margin: 0;
    color: darkslategray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes panimate1{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
#skillsBox:hover .progressValue1{
    animation: panimate1 1s linear 0s;
}
@keyframes panimate2{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
#skillsBox:hover .progressValue2{
    animation: panimate2 1s linear 0s;
}
@keyframes panimate3{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
#skillsBox:hover .progressValue3{
    animation: panimate3 1s linear 0s;
}
@keyframes panimate4{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
#skillsBox:hover .progressValue4{
    animation: panimate4 1s linear 0s;
}
@keyframes panimate5{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
#skillsBox:hover .progressValue5{
    animation: panimate5 1s linear 0s;
}
.progressBar{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: #c1c1c1;
}
.progressValue1{
    width: 95%;
    height: 15px;
    border-radius: 10px;
    background-color: green;
    transition: width 1s linear 0s;
}
.progressValue2{
    width: 80%;
    height: 15px;
    border-radius: 10px;
    background-color: green;
    transition: width 1s linear 0s;
}
.progressValue3{
    width: 70%;
    height: 15px;
    border-radius: 10px;
    background-color: green;
    transition: width 1s linear 0s;
}
.progressValue4{
    width: 50%;
    height: 15px;
    border-radius: 10px;
    background-color: green;
    transition: width 1s linear 0s;
}
.progressValue5{
    width: 60%;
    height: 15px;
    border-radius: 10px;
    background-color: green;
    transition: width 1s linear 0s;
}
#Askill{
    margin: 10px;
    width: 550px;
    height: 330px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
#circleContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}
.chart1,.chart2,.chart3{
    position: relative;
    text-align: center;
    margin: 20px;
}
.chart1 span,.chart2 span,.chart3 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.circleBox strong{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#eduContainer{
    display: flex;  
    flex-wrap: wrap;
    margin-top: 50px;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

.eduCard{
    width: 300px;
    height: 300px;
    background-color: white;
    margin:15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.eduDate{
    width: 170px;
    height: 50px;
    color: white;
    display: block;
    margin-top: 20px;
    margin-left: -7px;
    border-left: 7px solid;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(#5a77ff, #743cd1);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.eduDate strong{
    margin-top: 16px;
    display: inline-block;
}
.edu{
    margin-top: 10px;
    width: 300px;
    height: 220px;
    background-color: #743cd1;
}

@media screen and (max-width:875px){

    #img_container {
        background-image: none;
    }

}