 body {
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

#header ,#footer {
    display: flex;
    /* background: linear-gradient(midnightblue , #323232); */
    /* background: linear-gradient(#323232, black); */
    background: linear-gradient(#5a77ff, #743cd1);
    color: #fff;
    width: 100%;
    padding: 3px;
    /* border: 3px solid #fff; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: "Raleway", sans-serif;
    overflow: hidden;
}

p {
    margin: 15px;
}

i {
    margin-top: 15px;
    margin-left: 15px;
}

span {
    display: flex;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#img_container {
    border: 0px;
    display: flex;
    height: 530px;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    justify-content: center;
    /* border: 3px solid #fff; */
    background-repeat: no-repeat;
    background-image: url(326780-P9JGF8-718.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#img_container .info {
    top: 15px;
    right: 25px;
    width: 400px;
    height: 450px;
    color: black;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Courier New', Courier, monospace;
}

#moveleft{
    background: url("FB_IMG_15587821935538283.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    transition: transform 1.5s linear 0s;
}
#img_container:hover .info#moveleft{
    transform: translateX(-405px);
}
#top{
    position: relative;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(#5a77ff, #743cd1);    
}
#top h2{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
}

#bottom{
    height: 360px;
    text-align: left;
    padding-top: 20px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bottom img{
    /* display: none; */
    width: 100px;
    border-radius: 50%;
}
#bottom h1{
    color: rgb(12, 12, 12);
}
#bottom h1 strong{
    color: #610fe6fd;
}
#bottom h4{
    color: gray;
    font-size: 13px;
}
#age , #phone , #email, #address{
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
}
#age1{
    margin-left: 50px;
    font-size: 15px;
    display: inline-block;
}
#phone1{
    margin-left: 30px;
    font-size: 15px;
    display: inline-block;
}
#email1{
    margin-left: 36px;
    font-size: 15px;
    display: inline-block;
}
#address1{
    margin-left: 15px;
    font-size: 15px;
    display: inline-block;
}

.container {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    width: calc(100% - 20px);
    background-color: #efefef;
}
#skillContainer{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#skills,#edu{
    color: #610fe6fd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#skillsBox,#EduBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    flex-direction: row;
    justify-content: center;
}

#Pskill{
    margin: 10px;
    width: 350px;
    height: 330px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
#ProSkills{
    border-radius: 3px;
    margin: auto;
    width: 250px;
    height: 50px;
    color: white;
    display: block;
    margin-top: -20px;
    text-align: center;
    background: linear-gradient(#5a77ff, #743cd1);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
#ProSkills strong{
    margin-top: 16px;
    display: inline-block;
}
#skillnames{
    display: flex;
    height: 280px;
    margin-top: 20px;
    flex-direction: column;
}
.bar{
    margin: 10px;
}
.bar .topBar{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.bar .topBar p{
    margin: 0;
    color: darkslategray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.bar .bottomBar progress{
    background-color: black;
    width: 100%;
}
#Askill{
    margin: 10px;
    width: 550px;
    height: 330px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
#circleContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 280px;
    margin-top: 20px;
}
.circleBox{
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid #332233;
}

#eduContainer{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /* background-color: lightblue; */
    margin-top: 50px;
}

.eduCard{
    width: 300px;
    height: 300px;
    background-color: white;
    margin:15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.eduDate{
    width: 170px;
    height: 50px;
    color: white;
    display: block;
    margin-top: 20px;
    margin-left: -7px;
    border-left: 7px solid;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(#5a77ff, #743cd1);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.eduDate strong{
    margin-top: 16px;
    display: inline-block;
}

@media screen and (max-width:875px){

    #img_container {
        background-image: none;
    }

}